/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #363535;
    --border-color: #313030;
    --waterfill-color: #8325e0;
    --patern-color: #ccccccd8;
    /* ===== Transition ===== */
    --tran-03: all 0.2s ease;
    --tran-02: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    color: var(--text-color);
    height: 100%;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ffffffcc;
    --border-color: #ccc;
    --waterfill-color: #890ffc;
    --patern-color: #cccccc86 ;
}
/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    padding: 10px 14px;
    z-index: 100;
    transition: var(--tran-05);
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable CSS ===== */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;

}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 60px;

}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar header {
    position: relative;

}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;

}

.sidebar header .image-text {
    display: flex;
    align-items: center;

}

header .image-text .header-text {
    display: flex;
    flex-direction: column;

}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;

}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 13px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    background: var(--primary-color-light);
    outline: none;
    border: none;
    border-radius: 6px;  
    transition: var(--tran-05);
    color: var(--text-color);
}


.sidebar li a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    background: var(--primary-color-light);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
    border-radius: 25px;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    cursor: pointer;
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;

}

/* ===== Home ===== */

.info-area {
    background: var(--body-color);
    position: absolute;
    height: 100vh;
    padding-left: 250px;
    width: calc(100%-250px);
    transition: var(--tran-05);
    
}

.info-area .home .text {
    color: var(--text-color);
    font-weight: 500;
    font-size: 60px;
    padding: 8px 40px;
    margin-top: 100px;
}

.sidebar.close ~ .info-area {
    padding-left: 88px;
    width: calc(100%-88px);
}

.home p.welcome {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 450;
    padding: 8px 40px;
    margin-top: -30px;
}

.home p.news {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
    padding: 8px 40px;
    margin-top: -15px;
}

.home .button {
    display: inline-block;
    position: relative;
    font-weight: 450;
    font-size: 25px;
    padding: 9px 9px 9px 9px;
    top: 20px;
    left: 60px;
    border: solid 1px var(--border-color);
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    color: #fffffff3;
    background: var(--waterfill-color);
    transition: var(--tran-02);
}

.home .button:hover {
    background-color: #695cfe;
    transition: var(--tran-02);
}



.home .bot-border {
    position: fixed;
    border: solid 1px var(--border-color);
    width: 100%;
    margin-top: 45px;
}

/* ===== Coding Languages ===== */
.python {
    color: var(--text-color);
    font-weight: 500;
}

.python .text {
    color: var(--text-color);
    font-weight: 500;
    font-size: 60px;
    padding: 8px 40px;
    margin-top: 100px;
}

.python p.welcome {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 450;
    padding: 8px 40px;
    margin-top: -25px;
}

.python .lang {
    display: flexbox;
}

.python li.lang-python {
    
    font-size: 37px;
    margin-left: 35px;
    padding: 15px 15px 15px 15px;
    transition: var(--tran-03);
    line-height: 7;
}

.python li a {
    text-decoration: none;
    color: var(--text-color);
}

.python li.border {
    display: inline;
    display: flexbox;
    border: solid 2px var(--border-color);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.python li.lang-python:hover {
    padding: 20px 20px 20px 20px;
    transition: var(--tran-03);
    cursor: pointer;
}

.python .bot-border {
    position: fixed;
    border: solid 1px var(--border-color);
    width: 100%;
    margin-top: 45px;
}

.python span.name {
    margin-left: 10px;
}
/* ===== Python Pages ===== */
.main .py {
    font-size: 60px;
    font-weight: 450;
    padding: 8px 40px;
    margin-top: 25px;
}

.main p {
    font-size: 20px;
    font-weight: 400;
}

.main .button {
    display: inline;
    color: #fffffff3;
    font-size: 30px;
    font-weight: 450;
    line-height: 6;
    margin-left: 60px;
    padding: 10px 10px 10px 10px;;
    border: solid 2px var(--border-color);
    border-radius: 6px;
    background: var(--waterfill-color);
    transition: var(--tran-02);
}

.main .button:hover {
    background: #695cfe;
    transition: var(--tran-02);
    cursor: pointer;
}

/* ===== Python info-tab ===== */
/* note: taskbar width: 35% */
